<div id="invoice_wrapper">
  <div id="workspace1" class="haltrinvoice">
    <div id="workspace2">
      <div id="col1">
        <% if @order.xml? -%>
          <%=@order_xslt_html%>
        <% else -%>
          <%= render partial: 'orders/edi.html', format: :hmtl %>
        <% end -%>
      </div>
    </div>
  </div>
</div>
