<h3><%= l(:label_person_plural) %></h3>
<ul class="invoice_menu">
  <li><%= link_to l(:label_companies), {:controller =>'clients', :action => 'index', :id => @project}, :class=>'icon-haltr-companies' %></li>
  <li><%= link_to l(:label_person_new), {:action => 'new', :id => @client}, :class=>'icon-haltr-person' %></li>
</ul>
