<h3><%= l(:label_person_plural) %></h3>
<ul class="invoice_menu">
  <li id="invoice_new"><%= link_to l(:label_person_new), {:action => 'new', :id => @client} %></li>
  <li><%= link_to l(:label_community), :controller => 'clients', :action => 'index', :id => @project %></li>
</ul>
