<h2><%= l(:label_person) %></h2>

<% labelled_form_for :person, @person, :url => { :action => 'update', :id => @person } do |f| %>
<%= render :partial => 'form', :locals => { :f => f } %>
<%= submit_tag l(:button_save) %>
<% end %>
