<h2><%= l(:label_person_new) %></h2>


<% labelled_tabular_form_for :person, @person, :url => { :action => 'create', :id => @client } do |f| %>
<%= render :partial => 'form', :locals => { :f => f } %>
<%= submit_tag l(:button_create) %>
<% end %>
