<div class="invoice-channel-links">
<h3>Check gemerated documents</h3>
<ul>
  <% ExportChannels.formats.sort.each do |format| %>
    <li><%= link_to_if_authorized format, {:controller=>'invoices',:action=>'show' ,:id=>@invoice, :format => format} %></li>
  <% end %>
  <% if @invoice.visible_by_client? -%>
    <li><%= link_to("public link", {:action=>'view', :client_hashid=>@invoice.client.hashid, :invoice_id=>@invoice.id}, :class=>'public') %></li>
  <% end -%>
</ul>
</div>
