<div class="invoice-channel-links">
<h3>Check generated documents</h3>
<ul>
  <% if (@invoice.original.present? rescue true) -%>
    <li><%= link_to_if_authorized 'original', {controller: 'invoices', action: 'show', id: @invoice, format: 'original', debug: true } %></li>
  <% end -%>
  <% ExportFormats.available.each do |format,conf| %>
    <li><%= link_to_if_authorized conf["name"], {:controller=>'invoices',:action=>'show' ,:id=>@invoice, :format=>format, :debug=>true} %></li>
  <% end %>
  <% if @invoice.visible_by_client? and @invoice.client.hashid -%>
    <li><%= link_to("public link", {:action=>'view', :client_hashid=>@invoice.client.hashid, :invoice_id=>@invoice.id}, :class=>'public') %></li>
  <% end -%>
</ul>
</div>
