<label for="invoice_client_id"><%= l(:field_client) %><span class="required"> *</span></label>
<%= select :invoice, :client_id, clients_for_select, {:selected=>selected} %>
<%= link_to_function(l(:label_company_new), "$('new_client_wrapper').show();", :class => 'icon icon-add') %>
