<% if @invoice.events.any? -%>
  <!--missatge info-->
  <div class="seccio grup">
    <div class="col span-2-de-2">
      <div class="formee-msg-info invoice-events">
        <h3><%=h l(:events)%></h3>
        <ul>
          <% @invoice.events.reverse.each do |e| -%>
            <% begin -%>
              <%= render :partial => "events/#{e.type.underscore}", :locals => {:e=>e} %>
            <% rescue ActionView::MissingTemplate -%>
              <%= render :partial => "events/event", :locals => {:e=>e} %>
            <% end -%>
          <% end -%>
        </ul>
      </div>
    </div>
  </div>
  <!--final missatge info-->
<% end -%>
