<div class="new_client_box">
  <div id="new_client">
    <h2><%= l(:label_company_new) %></h2>

    <% @client = Client.new
       labelled_remote_form_for(:client, @client,
                       :url     => {:controller=>'clients', :action=>'create', :id=>@project},
                       :html    => {:class => 'tabular'},
                       :lang    => current_language
                      ) do |form| -%>

      <%= render :partial=>'clients/form', :locals=>{ :f=>form, :short=>true } %>
      <%= submit_tag l(:button_create) %>
      <%= button_to_function(l(:cancel), "$('new_client_wrapper').hide();") %>
    <% end -%>
  </div>
</div>
<div class="overlay"></div>
