<div class="haltrinvoice">
  <h3>
    <%= "#{l(:label_invoice)} #{@invoice.number} (#{l("state_#{@invoice.state}")})" %>
  </h3>
  <ul class="toolbox secondary">
    <li><%= link_to l(:button_delete), {:action=>'destroy',:id=>@invoice}, :confirm => l(:text_are_you_sure), :method => :delete %></li>
    <% if @invoice.state?(:electronic_invoice) or @invoice.state?(:non_electronic_invoice) -%>
    <li><%= link_to(I18n.t(:mark_accepted), {:action => :mark_accepted, :id => @invoice}) %></li>
    <li><%= link_to(I18n.t(:mark_refused),  {:action => :mark_refused,  :id => @invoice}) %></li>
    <% end -%>
  </ul>
</div>
