<h1><%= controller.controller_name == "invoice_templates" ? l(:label_invoice_template) : l(:label_invoice) %></h1>

<% labelled_tabular_form_for :invoice, @invoice, {:url => { :action => 'update', :id => @invoice }, :html => {:method => :put}}  do |f| %>
<%= render :partial => 'invoices/form', :locals => { :f => f } %>
<%= submit_tag l(:button_save) %>
<% end %>

<% content_for :sidebar do %>
    <%= render :partial => 'common/sidebar' %>
<% end %>
