<!--formulari-->
<% url_hash = { action: 'create', project_id: @project } -%>
<% url_hash[:controller] = @dest_controller unless @dest_controller.blank? -%>
<%= form_for :invoice, url: url_hash do |f| %>
  <% f.object = @invoice -%>
  <%= render partial: 'invoices/form', locals: { f: f } %>
  <!-- warning: form partial leaves a div intencionally open -->

</div>
<% end %>
<!--final formulari-->

<div id="new_client_wrapper" style="display:none;">
  <div id="new_client_form">
    <%= render partial: 'invoices/new_client', locals: {context: "new_invoice"} %>
  </div>
  <div class="overlay"></div>
</div>

<% html_title(l(:label_invoice_new)) -%>


<%=
  content_for :header_tags do
    stylesheet_link_tag 'bootstrap.vertical-tabs?v=2', plugin: 'haltr'
  end
%>
