<div>

  <% if @last_success_sending_event -%>
    <ul class='menu'>
      <li>
      <%= link_to l(:download_legal), :controller=>"invoices", :action=>"download", :client_hashid=>@client.hashid, :invoice_id=>@invoice.id, :event=>@last_success_sending_event %>
      </li>
    </ul>
  <% end %>

  <div id="invoice_wrapper">
    <div id="workspace1" class="haltrinvoice">
      <div id="workspace2">
        <div id="col1">

          <%= render :partial=>'invoices/invoice' %>

        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :sidebar do %>
  <%= render :partial => 'invoices/issued_invoice_list_other' %>
<% end %>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'minimal', :plugin => 'haltr' %>
<% end %>
