<!-- Wrapper -->
<div style="width:100%; text-align:center;">
  <% if @invoice.final_md5 -%>
    <div style="text-align:right;">
      <p style="margin:10px;"><%= link_to_if_authorized "Download", :controller=>"invoices", :action=>"download", :id=>@client.hashid, :invoice_id=>@invoice.id %></p>
    </div>
  <% end -%>
  <div id="invoice_wrapper" style="width:671px; margin:auto; text-align:left;">
    <!-- Workspace -->
    <div id="workspace1" class="haltrinvoice"><div id="workspace2">
      <div id="col1">

        <% I18n.locale = @invoice.locale %>
        <%= render :partial=>'invoices/invoice' %>
        <% lang = find_language(User.current.language); lang ||= Setting.default_language; set_language_if_valid(lang) -%>

      </div>
    </div>
  </div>
</div>

<% content_for :sidebar do %>
  <%= render :partial => 'invoices/issued_invoice_list_other' %>
<% end %>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'minimal', :plugin => 'haltr' %>
<% end %>
