<h1><%= l(:label_invoice) %></h1>

<% labelled_tabular_form_for :invoice, @invoice, :url => { :action => 'update', :id => @invoice } do |f| %>
<%= render :partial => 'form', :locals => { :f => f } %>
<%= submit_tag l(:button_save) %>
<% end %>

<% content_for :sidebar do %>
    <%= render :partial => 'common/sidebar' %>
<% end %>
