<%= I18n.t((@invoice.type == "ReceivedInvoice" ? :received_invoice_paid : :issued_invoice_paid), :num => @invoice.number, :company => @invoice.company.name) %>

<% unless @reason.blank? -%>
  <%= @reason %>

<% end -%>
----------------------------------------
<%= render :partial => "invoice", :locals => { :invoice => @invoice } %>
