<p><%= I18n.t(:received_invoice_refused, :num => @invoice.number, :company => @invoice.company.name) %></p>

<% unless @reason.blank? -%>
  <p><%= @reason %></p>
<% end -%>

<hr />
<%= render :partial => "invoice", :locals => { :invoice => @invoice } %>
