<%= I18n.t(:received_invoice_accepted, :num => @invoice.number, :company => @invoice.client.project.company.name) %>

----------------------------------------
<%= render :partial => "invoice", :locals => { :invoice => @invoice } %>
