<div class="chart_invoice_total">
  <%= render :partial => 'common/chart_headers' %>
  <h3><%=l('chart_invoice_total')%></h3>
  <%= select_tag "value", options_for_select({t(:all_by_year)=>"all_by_year",
                                              t(:all_by_month)=>"all_by_month",
                                              t(:last_year_by_month)=>"last_year_by_month",
                                              t(:last_month_by_week)=>"last_month_by_week"},
                                             User.current.pref.others[:chart_invoice_total]),
                 :data  => { :url => url_for(update_chart_preference_path) },
                 :id    => 'chart_invoice_total',
                 :class => 'chart_prefs'
  %>

  <%= column_chart invoice_total_chart_path, id: "chart_invoice_total_chart", library: {isStacked: true, vAxis: {title: "#{l(:invoice_total)} (€)" }} %>
</div>
