<%= render :partial => 'common/chart_headers' %>

<h3><%=l('chart_invoice_total')%></h3>
<%= column_chart invoice_total_chart_path, library: {isStacked: true, vAxis: {title: "#{l(:invoice_total)} (€)" }} %>
