<!--formulari-->
<%= form_for :invoice, url: {action: 'update', id: @invoice}, html: {method: :put} do |f| %>
  <% f.object = @invoice -%>
  <%= render partial: 'quotes/form', locals: { f: f } %>
<% end %>
<!--final formulari-->

<div id="new_client_wrapper" style="display:none;">
  <%= render partial: 'invoices/new_client', locals: {context: "edit_invoice"} %>
</div>
