<!--formulari-->
<%= form_for :invoice, url: {action: 'create', project_id: @project} do |f| %>
  <% f.object = @invoice -%>
  <%= render partial: 'quotes/form', locals: { f: f } %>
<% end %>
<!--final formulari-->

<div id="new_client_wrapper" style="display:none;">
  <%= render partial: 'invoices/new_client', locals: {context: "new_invoice"} %>
</div>

<% html_title(l(:label_quote_new)) -%>
