<h1><%= l(:label_company_new) %></h1>


<% labelled_tabular_form_for :client, @client, :url => { :action => 'create', :id => @project } do |f| %>
<%= render :partial => 'form', :locals => { :f => f } %>
<%= submit_tag l(:button_create) %>
<% end %>

<% content_for :sidebar do %>
    <%= render :partial => 'common/sidebar' %>
<% end %>
