<p>Benvolgut/da,</p>

<p>Us adjuntem la factura <%= @invoice.number %> corresponent al servei Ingent Network.</p>

<p>Com sempre, per a qualsevol consulta o aclariment no dubti a posar-se en contacte amb nosaltres.</p>

<p>Atentament,</p>

<p>
--<br/>
L'equip de suport <a href="mailto:suport@ingent.net">suport@ingent.net</a><br/>
Ingent Grup Systems ~ <a href="http://www.ingent.net">http://www.ingent.net</a> ~<br/>
Tel. 933935931<br/>
</p>
