<%= link_to "backtrace", "#", :onclick => "$('#backtrace#{e.id}').toggle(); return false;" %>
<ul>
  <li id="backtrace<%= e.id %>" style="display: none;"><%=simple_format e.backtrace.join("\n") %></li>
</ul>
