<!--formulari-->
<div class="seccio grup">
  <div class="col span-2-de-2">

    <%= form_tag({:action => 'import', :project_id => @project}, :class=>'formee', :multipart => true) do %>
      <div>
        <%= file_field_tag "file" %>
      </div>
      <%= submit_tag l(:label_import) %>
    <% end %>

  </div>
</div>
<!--final formulari-->

<% html_title(l(:import_order)) -%>

<% content_for :sidebar do %>
  <%= render_menu :orders_menu, @project %>
<% end %>
