<!--formulari-->
<%= form_tag({action: 'import', project_id: @project}, class: 'form-horizontal', multipart: true) do %>
  <div class="form-group">
    <div class="col-xs-5 col-xs-offset-2">
    <%= file_field_tag 'file', class: 'filestyle', data: {input: 'true', iconName: 'fa fa-folder', badge: 'false'} %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-xs-5 col-xs-offset-2 text-right">
      <%= submit_tag l(:label_import), class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
<!--final formulari-->

<% html_title(l(:import_order)) -%>

<% content_for :sidebar do %>
  <%= render_menu :orders_menu, @project %>
<% end %>
