---
paper:
  format:
  folder:
  validate:
  locales:
    ca: "Cap (descàrrega d'un PDF)"
    da: "Ingen (manual PDF download)"
    en: "None (manual PDF download)"
    es: "Ninguno (descarga de un PDF)"
    fr: "Aucun (Téléchargement manuel PDF)"
    sv: "Inga (manuell nedladdning av PDF)"
  allowed_permissions:
  - download_pdf

signed_pdf:
  format: pdf
  folder: free_pdf
  validate: client_has_email
  locales:
    ca: "PDF signat, enviat per email"
    da: "Signed PDF til email"
    en: "Signed PDF to email"
    es: "PDF firmado, enviado por email"
    fr: "PDF signé par email"
    sv: "Signerad PDF till email"
  allowed_permissions:
  - send_by_mail

facturae_30:
  format: facturae30
  folder: free_xml
  validate:
  - client_has_email
  - invoice_has_taxes
  locales:
    ca: "Facturae 3.0 per email"
    da: "Facturae 3.0 to email"
    en: "Facturae 3.0 to email"
    es: "Facturae 3.0 por email"
    fr: "Facturae 3.0 par email"
    sv: "Spanskt format Facturae 3.0 till email"
  allowed_permissions:
  - send_by_mail

facturae_31:
  format: facturae31
  folder: free_xml
  validate:
  - client_has_email
  - invoice_has_taxes
  locales:
    ca: "Facturae 3.1 per email"
    da: "Facturae 3.1 til email"
    en: "Facturae 3.1 to email"
    es: "Facturae 3.1 por email"
    fr: "Facturae 3.1 par email"
    sv: "Spanskt format Facturae 3.1 till email"
  allowed_permissions:
  - send_by_mail

facturae_32:
  format: facturae32
  folder: free_xml
  validate:
  - client_has_email
  - invoice_has_taxes
  locales:
    ca: "Facturae 3.2 per email"
    da: "Facturae 3.2 til email"
    en: "Facturae 3.2 to email"
    es: "Facturae 3.2 por email"
    fr: "Facturae 3.2 par email"
    sv: "Spanskt format Facturae 3.2 till email"
  allowed_permissions:
  - send_by_mail

ublinvoice_20:
  format: ubl21
  folder: free_ubl
  validate:
  - client_has_email
  - ubl_invoice_has_no_taxes_withheld
  locales:
    ca: "Factura UBL 2.0 per email"
    da: "UBL faktura 2.0 til email"
    en: "UBL Invoice 2.0 to email"
    es: "Factura UBL 2.0 por email"
    fr: "UBL Facture 2.0 par email"
    sv: "UBL Faktura 2.0 till email"
  allowed_permissions:
  - send_by_mail
