#
# channels.yml
#
# channel_name:
#   format:     [format in formats.yml (if any)] ex. facturae32
#   folder:     [folder to leave the resulting document in] ex. /tmp
#   validators: [class to validate invoices before sending] ex. Haltr::Validator::Mail
#   class_for_send: [class used to send invoice, it must define perform method] ex.'Haltr::SendSignedPdfByMail'
#   locales:
#     en: "text ..."      [list of translations]
#   allowed_permissions:
#     :permision_name:      [as seen in Redmine - Roles and permissions]
#       :controller1_name:  [optional: the permission needs an extra access to URLs]
#         - :action1_name
#         - :action2_name
#       :controller2_name:
#         - :action3_name
#         - :action4_name

---
paper:
  order: 10
  format: none
  folder:
  validators:
  locales:
    ca: "Cap (descàrrega d'un PDF)"
    da: "Ingen (manual PDF download)"
    en: "None (manual PDF download)"
    es: "Ninguno (descarga de un PDF)"
    fr: "Aucun (Téléchargement manuel PDF)"
    sv: "Inga (manuell nedladdning av PDF)"
  allowed_permissions:
    :download_pdf:
      :invoices:
        - :pdf

pdf_by_mail:
  order: 20
  format: pdf
  class_for_send: Haltr::SendPdfByMail
  validators: Haltr::Validator::Mail
  locales:
    ca: "PDF enviat per email"
    da: "PDF til email"
    en: "PDF to email"
    es: "PDF enviado por email"
    fr: "PDF par email"
    sv: "PDF till email"
  allowed_permissions:
    :send_by_mail:

signed_pdf:
  order: 25
  format: pdf
  class_for_send: Haltr::SendPdfByMail
  validators: Haltr::Validator::Mail
  locales:
    ca: "PDF signat, per email"
    da: "Signed PDF til email"
    en: "Signed PDF to email"
    es: "PDF firmado, por email"
    fr: "PDF signé par email"
    sv: "Signerad PDF till email"
  allowed_permissions:
    :send_by_mail:

facturae_30:
  order: 30
  format: facturae30
  folder: free_xml
  validators: Haltr::Validator::Mail
  locales:
    ca: "Facturae 3.0 per email"
    da: "Facturae 3.0 to email"
    en: "Facturae 3.0 to email"
    es: "Facturae 3.0 por email"
    fr: "Facturae 3.0 par email"
    sv: "Spanskt format Facturae 3.0 till email"
  allowed_permissions:
    :send_by_mail:

facturae_31:
  order: 40
  format: facturae31
  folder: free_xml
  validators: Haltr::Validator::Mail
  locales:
    ca: "Facturae 3.1 per email"
    da: "Facturae 3.1 til email"
    en: "Facturae 3.1 to email"
    es: "Facturae 3.1 por email"
    fr: "Facturae 3.1 par email"
    sv: "Spanskt format Facturae 3.1 till email"
  allowed_permissions:
    :send_by_mail:

facturae_32:
  order: 50
  format: facturae32
  folder: free_xml
  validators: Haltr::Validator::Mail
  locales:
    ca: "Facturae 3.2 per email"
    da: "Facturae 3.2 til email"
    en: "Facturae 3.2 to email"
    es: "Facturae 3.2 por email"
    fr: "Facturae 3.2 par email"
    sv: "Spanskt format Facturae 3.2 till email"
  allowed_permissions:
    :send_by_mail:

ublinvoice_20:
  order: 60
  format: peppolubl20
  folder: free_ubl
  validators: Haltr::Validator::Mail
  locales:
    ca: "Factura UBL 2.0 per email"
    da: "UBL faktura 2.0 til email"
    en: "UBL Invoice 2.0 to email"
    es: "Factura UBL 2.0 por email"
    fr: "UBL Facture 2.0 par email"
    sv: "UBL Faktura 2.0 till email"
  allowed_permissions:
    :send_by_mail:

imap_draft_pdf:
  order: 70
  format: pdf
  validators:
  - Haltr::Validator::Mail
  - Haltr::Validator::Imap
  class_for_send: Haltr::SendSignedPdfByIMAP
  locales:
    ca: "Desa un email amb PDF adjunt en una carpeta IMAP"
    da: "Store PDF into IMAP folder"
    en: "Store PDF into IMAP folder"
    es: "Crea un email con PDF adjunto en una carpeta IMAP"
    fr: "Store PDF into IMAP folder"
    sv: "Store PDF into IMAP folder"
  allowed_permissions:
    :use_imap_draft:
