#
# formats.yml
#
# format_name:    [pdf or the name of a template at app/views/invoices/*.xml.erb] ex. facturae32
#   name:         [intelligible format name]
#   validators:     [method name in app/models/issued_invoice.rb] ex. client_has_email
#   content-type: [content-type] ex. text-xml
#
---
pdf:
  name: "PDF"
  content-type: "application-pdf"

facturae30:
  name: "Facturae 3.0"
  validators: Haltr::Validator::Facturae
  content-type: "text-xml"

facturae31:
  name: "Facturae 3.1"
  validators: Haltr::Validator::Facturae
  content-type: "text-xml"

facturae32:
  name: "Facturae 3.2"
  validators: Haltr::Validator::Facturae
  content-type: "text-xml"

peppolubl20:
  name: "PEPPOL BIS 1"
  validators: Haltr::Validator::Ubl
  content-type: "text-xml"

peppolubl21:
  name: "PEPPOL BIS 2"
  validators: Haltr::Validator::Ubl
  content-type: "text-xml"

biiubl20:
  name: "BII UBL"
  validators: Haltr::Validator::Ubl
  content-type: "text-xml"

svefaktura:
  name: "Svefaktura"
  validators: Haltr::Validator::Svefaktura
  content-type: "text-xml"

oioubl20:
  name: "OIO"
  validators: Haltr::Validator::Ubl
  content-type: "text-xml"

original:
  name: "Original"
  validators: Haltr::Validator::Original
  content-type: "text/plain"
