company_name: Ingent Grup Systems, Inc.
company_tax_id: B63334543
company_address: 35 Street
company_locality: Vilafranca
company_postal_code: 08720
company_region: Barcelona
company_website: www.ingent.net
company_email: info@ingent.net
company_bank_account: 123456789

