<% bank_info_id = f.object_name.split("[").last.gsub(/\]/,'') -%>

<p class="col span-1-de-3">
<%= f.text_field :bank_account, :maxlength => 20, :size => 30 %>
</p>
<p class="col span-1-de-3">
<%= f.text_field :iban, :size => 30 %>
</p>
<p class="col span-1-de-3">
<%= f.text_field :bic, :size => 30 %>
</p>
