<% unless @is_pdf -%>
<!--menu rapid-->
<div class="seccio grup">
  <div class="col span-2-de-2">
    <ul class="menu-rapid">
      <li><%= link_to l(:button_download), project_mandate_path(@mandate, :project_id=>@project, :format=>'pdf'), :class => 'icon icon-download' %></li>
    </ul>
  </div>
</div>
<!--final menu rapid-->
<% end -%>

<%= render :partial => "mandate.#{I18n.locale}" rescue ActionView::MissingTemplate ; render :partial => "mandate.en" %>

<% content_for :sidebar do %>
  <%= render_menu :payments_menu, @project %>
<% end %>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'mandates', :plugin => 'haltr' %>
<% end %>
