/* Redmine tabular forms, but with div instead of p */

html>body .tabular div {overflow:hidden;}

#payment_stuff, .client_hiden_fields {
  display: inline;
}

ul.menu-rapid li, #sidebar ul li {list-style-type:none;}

.money {
  text-align: right;
}

.menu-rapid li {
  display: inline-block;
  margin-left: 20px;
}

.invoice-channel-links h3, .invoice-events h3 {
  border-bottom: 1px dotted #bbb;
}

.invoice-channel-links, .invoice-events {
  margin: 50px;
}
