/* Redmine tabular forms, but with div instead of p */

html>body .tabular div {overflow:hidden;}

#payment_stuff, .client_hiden_fields {
  display: inline;
}

ul.menu-rapid li, #sidebar ul li {list-style-type:none;}

th.money, td.money, .money{
  text-align: right;
  white-space: nowrap;
}

.menu-rapid li {
  display: inline-block;
  margin-left: 20px;
}

.invoice-channel-links h3, .invoice-events h3 {
  border-bottom: 1px dotted #bbb;
}

.invoice-channel-links, .invoice-events {
  margin: 50px;
}

.overlay {
  position:absolute; top:0; left:0;
  width:100%; height:100%;
  /* width: 1138px; height: 1132px; */
  z-index: 1001;
  background: transparent url(../img/overlay.png) 50% 50% repeat;
  opacity: 0.9;
}

.new_client_box {
  position:absolute; top:115px; left:50%;
  margin-left: -325px;
  background-color: white;
  width: 650px;
  z-index: 1002;
  border: 4px solid #333333;
}

#new_client {
  margin: 30px;
}

.mail_box {
  position:absolute; top:200px; left:250px;
  background-color: #FFFFCC;
  width: 650px;
  z-index: 1002;
  border: 4px solid #333333;
}

#mail {
  margin: 30px;
}

.amended {
  text-decoration: line-through;
} 

select.tax {
  width: 77px;
}

.lineErrorExplanation {
  border: 2px solid;
  padding: 4px 4px 4px 4px;
  margin: 10px;
}

.lineErrorExplanation a {
  font-weight: bold;
}

.pastdue {
  color: red;
}
.disabled {
  text-decoration: none !important;
  color: #A3A3A3 !important;
}
table#invoice_lines {
  min-width: 50%;
}
.unread {
  font-weight: bold;
}
