.invoiceFilter {
	margin: 0 0 20px;
	}
.invoiceFilter th {
	margin: 0;
	padding: 4px 10px 4px 0;
	width: 90px;
	text-align: right;
	vertical-align: top;
	font-size: 13px;
	line-height: 22px;
	}
.invoiceFilter td {
	margin: 0;
	padding: 4px 0;
	vertical-align: top;
	line-height: 22px;
	}
.invoiceFilter ul {
	margin: 0;
	}
.invoiceFilter li {
	display: inline;
	margin-right: 8px;
	}

#invoices tr {
  cursor: pointer;
}

.pastdue {
  color: red;
}

