/*
-----------------------------------------------
Blinksale Screen Master
Author:   Firewheel Design
Version:  002 27 January 2006
----------------------------------------------- */

body {
	margin: 0;
  	padding: 0;
  	font: 12px/1.5em Helvetica, Verdana, Sans-serif;
   	color: #333;
 	}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
	}
ul li {
	margin: 0;
	padding: 0;
	list-style: none;
	}
ol {
	margin: 0;
	padding: 0 0 0 20px;
	}
ol li {
	margin: 0;
	padding: 0;
	}
h2 {
	margin: 0 0 .75em;
	font-size: 18px;
	}
h3 {
	margin: 0 0 .75em;
	font-size: 14px;
	}
h4 {
	margin: 0;
	}
p {
	margin: 0 0 .75em;
	}
input, select, textarea {
	margin: 0;
	}
acronym {
	font-style: normal;
	border-bottom: 1px dotted #333;
	cursor: help;
	}
address {
	font-style: normal;
	}


/* Link Styles
----------------------------------------------- */
a:link {
	color: #29c;
	text-decoration: none;
	}
a:visited {
	color: #29c;
	text-decoration: none;
	}
a:hover {
	color: #29c;
	text-decoration: underline;
	}
a:link img,
a:visited img,
a:hover img {
	border: 0;
	background: none;
	}

/* Structural Styles
----------------------------------------------- */
#counter {
	margin: 0;
	padding: 6px 0;
	text-align: center;
	color: #fff;
	background: #268;
	border-bottom: 1px solid #146;
	}
#counter strong {
	color: #c8f6b6;
	}
#wrapper {
	margin: 10px auto 40px;
	width: 920px;
	}
#workspace1 {
	margin: 0;
	padding: 0;
	background: #fff;
	}
#workspace2 {
	overflow: hidden;
	width: 920px;
	margin: 0;
	padding: 0;
	}
#col1 {
	float: left;
	margin: 0;
	padding: 20px 0 0 20px;
	width: 620px;
	}
#col2 {
	float: right;
	margin: 0;
	padding: 0;
	width: 260px;
	}
#col1 h2 {
	margin-top: -4px;
	}
#col2 h2 {
	margin: 0 0 10px;
	color: #1a8;
	}
.clear {
	clear: both;
	margin: 0;
	padding: 0;
	height: 0;
	line-height: 0;
	}
.pagehelp {
	margin: 0 0 20px;
	padding: -1px 10px 20px;
	background: #bbb;
	}


/* Navigation Styles
----------------------------------------------- */
#navigation1 {
	margin: 0;
	padding: 0;
	width: 920px;
	background: #29c url(../images/bgd-navigation1.gif) no-repeat;
	}
#navigation2 {
	overflow: hidden;
	margin: 0;
	padding: 0;
	width: 920px;
	background: url(../images/bgd-navigation2.gif) bottom repeat-x;
	}
#navigation1 .clear {
	clear: both;
	margin: 0;
	}
#logo {
	float: left;
	margin: 20px 0 14px;
	padding: 0 20px;
	width: 220px;
	height: 44px;
	}
#navAccount {
	margin: 0 20px 0 0;
	padding: 0;
	line-height: 34px;
	}
#navAccount li {
	float: right;
	margin: 0 0 0 15px;
	padding: 0;
	}
#navAccount li a:link, #navAccount li a:visited {
	color: #bef;
	text-decoration: none;
	}
#navAccount li a:hover {
	color: #fff;
	text-decoration: none;
	}
.counter {
	float: right;
	padding: 0;
	}
#navInvoices {
	clear: both;
	float: left;
	margin: 2px 0 0;
	padding: 0 20px;
	width: 880px;
	}
#navInvoices li {
	float: left;
	margin: 0 1px 0 0;
	padding: 0;
	line-height: 30px;
	background: url(../images/bgd-navInvoices_hov.gif) bottom repeat-x;
	}
#navInvoices li a:link, #navInvoices li a:visited {
	float: left;
	margin: 0;
	padding: 0 12px;
	line-height: 30px;
	color: #fff;
	background: url(../images/bgd-navInvoices.gif) bottom repeat-x;
	}
#navInvoices li a:hover {
	background: url(../images/bgd-navInvoices_hov.gif) bottom repeat-x;
	text-decoration: none;
	}
.dashboard li#dashboard,
.invoices li#invoices,
.followup li#followup,
.recurring li#recurring,
.purchases li#purchases,
.people li#people {
	margin: 0 1px 0 0;
	background: url(../images/bgd-navInvoices_active1.gif) top left no-repeat;
	}
.dashboard #dashboard span,
.invoices #invoices span,
.followup #followup span,
.recurring #recurring span,
.purchases #purchases span,
.people #people span {
	float: left;
	margin: 0;
	padding: 0 12px;
	line-height: 30px;
	font-weight: bold;
	color: #29c;
	background: url(../images/bgd-navInvoices_active2.gif) top right no-repeat;
	}
#navSub {
	float: left;
	width: 620px;
	margin: 0 0 20px;
	padding: 0;
	color: #888;
	}
#navSub li {
	float: left;
	margin: 0 10px 0 0;
	padding: 0 10px 0 0;
	line-height: 1;
	background: #fff;
	border-right: 1px solid #bef;
	}
#navSub li a:link, #navSub li a:visited {
	color: #29c;
	}
#navSub li a:hover {
	text-decoration: underline;
	}
#navSub+h2 {
	clear: both;
	}

/* Toolbox Styles
----------------------------------------------- */
.new {
	margin: 0;
	padding: 10px 20px 16px;
	font-size: 18px;
	color: #bef;
	background: #145c7b;
	border-bottom: 1px solid #146;
	}
.new a:link,
.new a:visited {
	margin: 0;
	padding: 0;
	color: #fff;
	background: #145c7b;
	}
.new img {
	cursor: pointer;
}
#col2 .status {
	margin: 0;
	padding: 20px;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: -.05em;
	}
#col2 .status img {
	font-weight: normal;
	font-style: normal;
	}
#col2 .draft { background: #859; }
#col2 .open { background: #5bc; }
#col2 .unpaid { background: #5bc; }
#col2 .pastdue { background: #f40; }
#col2 .closed { background: #1a8; }
#col2 .paid { background: #1a8; }
#col2 .recurring { background: #145c7b; padding-top: 10px; }
.secondary {
	margin: 0 0 20px;
	padding: 0;
	line-height: 18px;
	border-top: 1px solid #c8f6b6; 
	}
.secondary li {
	margin: 0;
	padding: 0;
	border-bottom: 1px solid #c8f6b6; 
	}
.secondary li a:link,
.secondary li a:visited {
	display: block;
	margin: 0;
	padding: 7px 20px;
	}
.secondary li a:hover {
	text-decoration: none;
	background: #efc;
	}

.secondary li#send_invoice a:link,
.secondary li#send_invoice a:visited {
	padding: 7px 20px 7px 40px;
	background: url(../images/icons/send_invoice.gif) no-repeat 20px 8px;
	}
.secondary li#print_invoice a:link,
.secondary li#print_invoice a:visited {
	padding: 7px 20px 7px 40px;
	background: url(../images/icons/print_invoice.gif) no-repeat 20px 8px;
	}
.secondary li#convert_invoice a:link,
.secondary li#convert_invoice a:visited {
	padding: 7px 20px 7px 40px;
	background: url(../images/icons/convert_invoice.gif) no-repeat 20px 8px;
	}
.secondary li#edit_invoice a:link,
.secondary li#edit_invoice a:visited {
	padding: 7px 20px 7px 40px;
	background: url(../images/icons/edit_invoice.gif) no-repeat 20px 8px;
	}
.secondary li#delete_invoice a:link,
.secondary li#delete_invoice a:visited {
	padding: 7px 20px 7px 40px;
	background: url(../images/icons/delete_invoice.gif) no-repeat 20px 8px;
	}
.secondary li#duplicate_invoice a:link,
.secondary li#duplicate_invoice a:visited {
	padding: 7px 20px 7px 40px;
	background: url(../images/icons/duplicate_invoice.gif) no-repeat 20px 8px;
	}
.secondary li#receive_payment a:link,
.secondary li#receive_payment a:visited {
	padding: 7px 20px 7px 40px;
	background: url(../images/icons/receive_payment.gif) no-repeat 20px 8px;
	}
.secondary li#send_reminder a:link,
.secondary li#send_reminder a:visited {
	padding: 7px 20px 7px 40px;
	background: url(../images/icons/send_reminder.gif) no-repeat 20px 8px;
	}
.secondary li#send_thankyou a:link,
.secondary li#send_thankyou a:visited {
	padding: 7px 20px 7px 40px;
	background: url(../images/icons/send_thankyou.gif) no-repeat 20px 8px;
	}
.secondary li#send_invoice a:hover { background: #efc url(../images/icons/send_invoice.gif) no-repeat 20px 8px; }
.secondary li#print_invoice a:hover { background: #efc url(../images/icons/print_invoice.gif) no-repeat 20px 8px; }
.secondary li#convert_invoice a:hover { background: #efc url(../images/icons/convert_invoice.gif) no-repeat 20px 8px; }
.secondary li#edit_invoice a:hover { background: #efc url(../images/icons/edit_invoice.gif) no-repeat 20px 8px; }
.secondary li#delete_invoice a:hover { background: #efc url(../images/icons/delete_invoice.gif) no-repeat 20px 8px; }
.secondary li#duplicate_invoice a:hover { background: #efc url(../images/icons/duplicate_invoice.gif) no-repeat 20px 8px; }
.secondary li#receive_payment a:hover { background: #efc url(../images/icons/receive_payment.gif) no-repeat 20px 8px; }
.secondary li#send_reminder a:hover { background: #efc url(../images/icons/send_reminder.gif) no-repeat 20px 8px; }
.secondary li#send_thankyou a:hover { background: #efc url(../images/icons/send_thankyou.gif) no-repeat 20px 8px; }

.recurringBox {
	margin: 20px 0;
	padding: 0 20px;
	}
.recurringBox h2 {
	line-height: 17px;
	}
.recurringBox span {
	display: block;
	font-size: 11px;
	font-weight: normal;
	color: #222;
	}
.recurringBox ul {
	margin: 0;
	padding: 0;
	font-size: 11px;
	border-top: 1px solid #c8f6b6;
	}
.recurringBox li {
	margin: 0;
	padding: 2px 0 2px 20px;
	line-height: 15px;
	border-bottom: 1px solid #c8f6b6;
	}
.tagBox {
	margin: 20px 0;
	padding: 0 20px;
	font-size: 11px;
	line-height: 16px;
	}
.tags {
	margin: 0 0 5px;
	padding: 0;
	line-height: 24px;
	}
.tags li {
	display: inline;
	margin-right: 5px;
	}
.tag1 { font-size: 11px;}
.tag2 { font-size: 13px;}
.tag3 { font-size: 16px;}
.tag4 { font-size: 20px; letter-spacing:-.03em;}
.tag5 { font-size: 24px; letter-spacing:-.03em;}
.adBox {
	margin: 0 0 20px;
	padding: 0 20px;
	font-size: 11px;
	line-height: 16px;
	}


/* Flash Styles
----------------------------------------------- */
.flash {
	margin: 0 0 20px;
	padding: 0;
	line-height: 28px;
	color: #fff;
	background: #666
	}
.flash div {
	margin: 0;
	padding: 0 12px;
	}
.success { background: url(../images/bgd-flash_green.gif) top left no-repeat; }
.success div { background: url(../images/bgd-flash_green2.gif) bottom left no-repeat; }

/* Message Styles
----------------------------------------------- */
.intro {
	margin: 0 0 20px;
	padding: 6px 11px;
	background: #ede;
	border: 1px solid #dbd;
	}
.notice {
	margin: 0 0 20px;
	padding: 6px 11px;
	background: #fec;
	border: 1px solid #fd9;
	}

/* Action Styles
----------------------------------------------- */
.todo {
	margin: 0 0 20px;
	padding: 0;
	font-size: 16px;
	line-height: 24px;
	}

/* Invoice List Styles
----------------------------------------------- */
h2 input {
	font-size: 18px;
	width: auto;
	font-weight: bold;
	color: #29c;
	background: #dfb;
	}
.invoiceTableBox {
	margin: 0 0 20px;
	padding: 0;
	}
.invoiceTableBox h3 {
	margin: 0 0 .25em;
	color: #1a8;
	}
.invoiceTableBox h3.pastdue {
	color: #f40;
	}
.invoiceTableBox h3.draft {
	color: #859;
	}
.invoiceTableBox div {
	margin: 4px 0 0;
	padding: 0 4px;
	font-size: 11px;
	}
.invoiceTable {
	margin: 0;
	padding: 0;
	width: 620px;
	font-size: 11px;
	}
.invoiceTable tr {
	margin: 0;
	padding: 0;
	text-align: left;
	}
.invoiceTable th {
	margin: 0;
	padding: 0 4px;
	line-height: 24px;
	background: #dfb;
	}

.invoiceTable th.first { background: #dfb; }
.invoiceTable th.last { background: #dfb; }
.pastdue th { background: #fd9; }
.pastdue th.first { background: #fd9 url(../images/bgd-invoiceTable_past_th_first.gif) top left repeat-y; }
.pastdue th.last { background: #fd9 url(../images/bgd-invoiceTable_past_th_last.gif) top right repeat-y; }

.invoiceTable td {
	margin: 0;
	padding: 0 4px;
	line-height: 22px;
	border-bottom: 1px solid #ddd;
	}
.invoiceTable .total td {
	margin: 0;
	padding: 0 4px;
	font-size: 12px;
	font-weight: bold;
	line-height: 24px;
	border-bottom: none;
	}
.invoiceTable .total th {
	text-align: right;
	background: none;
	}
.invoiceTable th.status, .invoiceTable td.status {
	width: 82px;
	}
.invoiceTable th.date, .invoiceTable td.date {
	width: 72px;
	}
.invoiceTable th.due, .invoiceTable td.due,
.invoiceTable th.invoice-id, .invoiceTable td.invoice-id {
	width: 57px;
	}
.invoiceTable th.amount, .invoiceTable td.amount {
	width: 92px;
	text-align: right;
	}
td.due { color: #1a8; font-style: italic; }
.pastdue td.due { color: #f40; }

.draft td.status { color: #859; }
.open td.status { color: #222; }
.unpaid td.status { color: #222; }
.pastdue td.status { color: #f40; }
.closed td.status { color: #1a8; }
.paid td.status { color: #1a8; }

.invoiceTable td.status img {
	margin-bottom: -2px;
	}
.invoiceTableBox .invoiceTable tr:hover td,
.invoiceTable tr.draft:hover td,
.invoiceTable tr.open:hover td,
.invoiceTable tr.closed:hover td,
.invoiceTable tr.pastdue:hover td {
	cursor: pointer;
	background: #ffd;
	}
.invoiceFilter {
	margin: 0 0 20px;
	padding: 4px 11px;
	background: #ddf6ff;
	border: 1px solid #bef;
	}
.invoiceFilter th {
	margin: 0;
	padding: 4px 10px 4px 0;
	width: 90px;
	text-align: right;
	vertical-align: top;
	font-size: 13px;
	line-height: 22px;
	}
.invoiceFilter td {
	margin: 0;
	padding: 4px 0;
	vertical-align: top;
	line-height: 22px;
	}
.invoiceFilter ul {
	margin: 0;
	}
.invoiceFilter li {
	display: inline;
	margin-right: 8px;
	}
.baseTips {
	overflow: hidden;
	clear: both;
	margin: 0 0 20px;
	padding: 4px 11px;
	background: #f6f6f6;
	border: 1px solid #eee;	
	}
.submitbox {
	clear: both;
	margin: 0 0 20px;
	padding: 4px 10px;
	text-align: right;
	line-height: 26px;
	background: #f6f6f6;
	border: 2px solid #eee;	
	}
.submitbox input {
	margin-left: 12px;	
	}

/* Invoice View Styles
----------------------------------------------- */
.cancel {
	float: right;
	margin-top: -4px;
	font-size: 11px;
	}
.cancel a:link, .cancel a:visited { color: #f40; }
.client {
	}
#col2 .client {
	margin: 0 0 10px;
	padding: 20px 20px 16px;
	font-size: 12px;
	line-height: 1.5em;
	background: #c8f6b6;
	border-bottom: 1px solid #bea;
	}
#col2 .client h3 {
	margin: 0 0 .25em;
	font-size: 18px;
	}
.vcard {
	margin: 0 0 30px;
	line-height: 1.5em;
	font-size: 12px;
	}
.vcard h3 {
	margin: 0;
	}
.invoice-show .firm {
	display: none;
	}
.invoice {
	clear: both;
	margin: 0 0 20px;
	font-size: 11px;
	}
.invoice h4 {
	margin: 0 12px 4px;
	color: #1a8;
	font-size: 14px;
	}
.invoice-info {
	float:right;
	margin: 0 0 10px;
	text-align:right;
	font-size:12px;
	}
.invoice-edit .invoice-info,
.recurring-edit .invoice-info {
	float: none;
	margin: 0 0 10px;
	padding: 6px 0;
	width: 620px;
	text-align: left;
	line-height: 20px;
	background: #ddf6ff;
	border: 1px solid #bef;	
	}
.invoice-info th {
	margin: 0;
	padding: 2px 0 2px 11px;
	width: 114px;
	text-align: left;
	font-weight: normal;
	}
.invoice-info th.date {
	font-weight: bold;
	}
.invoice-info td {
	margin: 0;
	padding: 2px 11px 2px 0;
	}
.invoice-info select,
.invoice-info input {
	border: 1px solid #bef;
	border-bottom: 2px solid #bef;
	height: 18px;
	}
.line-items {
	margin: 0 0 10px;
	padding: 0;
	width: 620px;
	font-size: 11px;
	}
.line-items tr {
	margin: 0;
	padding: 0;
	text-align: left;
	}
.line-items th {
	margin: 0;
	padding: 0 4px;
	line-height: 24px;
	background: #dfb;
	}
.line-items th.first { padding-left:12px;background: #dfb; }
.line-items th.last { padding-right:12px;background: #dfb; }
.line-items td {
	margin: 0;
	padding: 5px 4px 3px;
	vertical-align: top;
	line-height: 18px;
	border-bottom: 1px solid #ddd;
	}
.line-items td.first { padding-left:12px; }
.line-items td.last { padding-right:12px; }
.line-items .item-delete { width: 14px; }
.line-items .item-delete img { padding-top: 3px; }
.line-items .item-kind { width: 85px; }
.line-items .item-kind select { width: 75px; margin: 0; padding: 0; }
.line-items .item-quantity { width: 45px; }
.line-items .item-quantity input { width: 35px; height: 18px; }
.invoice-show .line-items .item-quantity { width: 95px; }
.line-items .item-description textarea { width: 255px; height: 18px; }
.line-items .item-tax { text-align: right; width: 20px; }
.line-items .item-tax input { margin-top: 2px; }
.line-items .item-price { text-align: right; width: 75px; }
.line-items .item-price input { text-align: right; width: 65px; height: 18px; }
.line-items .line-total {
	text-align: right;
	width: 90px;
	}
.line-items select,
.line-items input,
.line-items textarea {
	padding: 0 2px;
	background:#f6f6f6;
	border:1px solid #ccc;
	}
.show .item-date { width: 70px; }
.payments .item-date { width: 116px; }
.newline {
	margin: -6px 12px 10px;
	padding: 0;
	font-size: 11px;
	text-align: right;
	}
.invoice-calculations {
	margin: 0 0 20px;
	padding: 4px 0 0;
	width: 620px;
	}
.invoice-calculations th {
	padding-left: 382px;
	text-align: left;
	line-height: 20px;
	}
.invoice-calculations td {
	padding-right: 12px;
	text-align: right;
	line-height: 20px;
	}
.invoice-calculations .sales-tax th,
.invoice-calculations .freight th,
.invoice-calculations .paid th,
.invoice-calculations .late-fee th {
	font-weight: normal;
	}
.invoice-calculations .invoice-total th,
.invoice-calculations .invoice-total td {
	font-size: 13px;
	}
.invoice-calculations .invoice-total td {
	font-weight: bold;
	color: #1a8;
	}
.invoice-details {
	margin: 20px 0;
	padding: 0 20px;
	font-size: 11px;
	}
.invoice-details h3 {
	margin: 0;
	color: #1a8;
	}
.invoice-details h4 {
	font-size: 11px;
	margin: .5em 0 -.25em;
	}
.invoice-details div {
	margin: 0 0 10px;
	line-height: 18px;
	}
.invoice-details div div {
	margin: 0;
	}
.invoice-details .custom {
	margin: 4px -3px 10px;
	padding: 2px;
	background: #c8f6b6;
	border: 1px solid #bea;
	}
.invoice-details select,
.invoice-details input {
	border: 1px solid #bea;
	border-bottom: 2px solid #bea;
	}
.invoice-notes {
	margin: 0 0 10px;
	padding: 9px;
	width: 600px;
	background: #fff;
	border: 1px solid #bef;	
	}
.invoice-notes h3 {
	margin: 0 0 .25em;
	font-size: 11px;
	}
.invoice-notes span {
	font-weight: normal;
	}
.invoice-notes textarea {
	margin: 0;
	padding: 0;
	width: 360px;
	border: 1px solid #ddd;
	border-bottom: 2px solid #ddd;
	}
.invoice-tags {
	margin: 0 0 20px;
	padding: 0 20px;
	font-size: 11px;
	}
.invoice-tags h3 {
	margin: 0;
	color: #1a8;
	}
.invoice-tags ul {
	margin: 0 0 10px;
	}
.invoice-tags li {
	margin: 0;
	padding: 0 0 0 14px;
	line-height: 18px;
	background: url(../images/icons/icon-tag_10.gif) left center no-repeat;
	}
.invoice-tags .custom {
	margin: 0 -3px;
	padding: 2px;
	background: #c8f6b6;
	border: 1px solid #bea;
	}
.invoice-tags .instructions {
	margin: 0 0 10px;
	line-height: 1.6em;
	}
.invoice-tags .tags-all li {
	display: inline;
	margin: 0;
	padding: 0;
	line-height: 1.6em;
	background:none;
	}
.invoice-tags .tags-all li.active a:link { color: #8dc; }
.client-list {
	margin: 0 0 10px;
	padding: 0;
	width: 620px;
	font-size: 11px;
	}
.client-list tr {
	margin: 0;
	padding: 0;
	text-align: left;
	}
.client-list th {
	margin: 0;
	padding: 0 4px;
	line-height: 24px;
	background: #dfb;
	}
.client-list th.first { padding-left:12px;background: #dfb; }
.client-list th.last { padding-right:12px;background: #dfb; }
.client-list td {
	margin: 0;
	padding: 4px 4px 3px;
	vertical-align: top;
	line-height: 20px;
	border-bottom: 1px solid #ddd;
	}
.client-list .recurring-client td {
	border-bottom: 1px dotted #ddd;
	}
.client-list .recurring-schedule td {
	background: #f6f6f6;
	}
.client-list td.first { padding-left:12px; }
.client-list td.last { padding-right:12px; }
.client-list .client-delete { width: 14px; }
.client-list .client-delete img { padding-top: 2px; }
.client-list .client-name {
	width: 160px;
	}
.client-list .client-people li {
	display: inline;
	margin-right: 8px;
	}
.vendor {
	margin: 0 0 20px;
	padding: 0 0 10px;
	text-align: right;
	border-bottom: 2px solid #ddd;
	}
.vendor .logo {
	float: left;
	}
.vendor.box .logo {
	display:none;
	}
.invoice-show .vendor {
	display: none;
	}


/* Comment and History Styles
----------------------------------------------- */
.history {
	margin: 40px 0 20px;
	padding: 8px 11px;
	background: #f6f6f6;
	border: 1px solid #eee;
	}
.post {
	clear: both;
	margin: 0 0 20px;
	line-height: 1.5em;
	border-top: 1px solid #ddd;
	}
.post .date {
	float: left;
	margin:  2px 0 0;
	}
.post h4 {
	margin: 2px 0 .5em 146px;
	}
.post h4 span {
	display: block;
	margin: 0;
	font-weight: normal;
	}
.post .post-details {
	margin: 0 0 0 146px;
	padding: 6px 11px;
	font-size: 11px;
	line-height: 1.6em;
	background: #fff;
	border: 1px solid #ddd;
	}
.post .post-details p {
	margin: .25em 0;
	line-height: 1.5em;
	}
.sent .post-details { border: 1px solid #bea; }
.payment .post-details { border: 1px solid #bea; }
.reminder .post-details { border: 1px solid #fd9; }
.thank-you .post-details { border: 1px solid #bef; }
.comment .post-details { border: 1px solid #ddd; }
.form-comment {
	margin: 0 0 20px;
	padding: 6px 11px;
	background: #ddd;
	border: 1px solid #ccc;
	}
.form-comment textarea {
	margin: 0 0 10px;
	font-size: 13px;
	width: 572px;
	height: 80px;
	border: 0;
	}
.form-comment input {
	margin: 0 0 0 12px;
	}

/* Form Styles
----------------------------------------------- */
.drop-form {
	margin: 0 0 30px;
	padding: 0 12px 12px;
	background: #dfb url(../images/bgd-drop_form.png) bottom left no-repeat;
	}
.drop-form h3 {
	margin: 0 -12px 12px;
	padding: 6px 12px;
	color: #fff;
	background: #1a8 url(../images/bgd-drop_form_h3.png) top left no-repeat;
	}
.drop-form h4 {
	margin-top: -4px;
	}
.drop-form select {
	margin: 0 0 10px 0;
	font-size: 16px;
}
.message {
	margin: 0 0 10px;
	padding: 0;
	width: 380px;
	}
.message textarea {
	margin: 0;
	width: 400px;
	height: 120px;
	}
.form-details  {
	clear: both;
	margin: 0 0 10px;
	padding: 5px 5px;
	background: #c8f6b6;
	border: 1px solid #bea;
	}
.form-details #replace-record {
	margin-bottom: 10px;
}
.form-details p.details {
	display: block;
	font-size: 13px;
	line-height: 15px;
	border-top: 1px solid #a8d898;
	padding: 8px 0 0 0;
	margin: 5px 0 10px 0;
}
.form-details select {
	display: block;
	font-size: 16px;
	margin-bottom: 10px;
	}
.form-details .radio {
	margin-right: 5px;
	letter-spacing: 1px;
	}
.form-details .explanation {
	font-size: 12px;
	padding: 8px 0 2px 0;
	}
.form-details p {
	font-size: 14px;
	margin: 0 0 4px 0;
}
.form-submit  {
	clear: both;
	overflow: hidden;
	margin: 0;
	padding: 0;
	line-height: 30px;
	text-align: right;
	}
.form-submit a  {
	margin: 0 0 0 12px;
	}
.form-submit input  {
	margin: 0 0 0 12px;
	}
.send-list {
	margin: 0 0 10px;
	float:right;
	width:178px;
	line-height:1.6em;
	}
.send-list input {
	margin: 0;
	}
.send-list ul {
	margin: 0 0 10px;
	font-size:11px;
	line-height:1.6em;
	}
.payment-info {
	margin: 10px 0;
	padding: 3px 6px;
	width: 596px;
	font-size: 11px;
	line-height: 20px;
	background: #c8f6b6;
	border: 1px solid #bea;
	}
.payment-info th {
	margin: 0;
	padding: 1px 0;
	width: 146px;
	text-align: left;
	font-weight: normal;
	}
.payment-info .payment-amount th {
	font-weight: bold;
	}
.payment-info td {
	margin: 0;
	padding: 1px 0;
	}
.payment-info input {
	margin: 0;
	padding: 0;
	}
.select-client {
	margin: 0 0 10px;
	}
.new-client {
	margin: 0;
	padding: 0;
	font-size: 18px;
	width: 580px;
	}
.simpletext {
	font-size: 18px;
	}
.simple-form {
	margin: 0;
	}
.simple-form th {
	margin: 0;
	padding: 4px 0;
	font-weight: normal;
	text-align: right;
	width: 140px;
	}
.simple-form th label {
	margin-right: 8px;
	}
.simple-form td {
	margin: 0;
	padding: 4px 0;
	}
.simple-form td input {
	margin: 0;
	padding: 0;
	width: 220px;
	
	}

/* Settings Styles
----------------------------------------------- */
.setting {
	margin: 0 0 30px;
	}
.setting h3 {
	margin: 0 0 .25em;
	color: #1a8;
	}
.box {
	margin: 0 0 .5em;
	padding: 11px;
	background: #dfb;
	border: 1px solid #c8f6b6;
	}
#col2 .box {
	margin: 0 0 20px;
	padding: 0 20px;
	background: none;
	border: none;
	}
.grayed {
	background: #f6f6f6;
	border: 1px solid #eee;
	}
.settings {
	margin: 0 0 30px;
	padding: 0;
	width: 620px;
	font-size: 11px;
	line-height: 1.4em;
	border-top: 2px solid #29c;
	}
.settings th {
	margin: 0;
	padding: 6px 0;
	width: 132px;
	text-align: right;
	border-bottom: 1px solid #ddd;
	}
.settings td {
	margin: 0;
	padding: 6px 12px;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
	}
.subplans {
	margin: 0 0 30px;
	padding: 0;
	width: 620px;
	font-size: 11px;
	line-height: 1.4em;
	border-top: 2px solid #29c;
	}
.subplans th {
	margin: 0;
	padding: 6px 0;
	text-align: left;
	font-weight: normal;
	border-bottom: 1px solid #ddd;
	border-right: 2px solid #ddd;
	}
.subplans td {
	margin: 0;
	padding: 6px 0;
	width: 90px;
	text-align: center;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
	}
.subplans .plans td {
	vertical-align: top;
	font-size: 14px;
	line-height: 17px;
	font-weight: bold;
	color: #1a8;
	}
.subplans .plans td span {
	font-size: 12px;
	font-weight: normal;
	color: #f40;
	}
.subplans td strong {
	font-size: 14px;
	}
.subplans td.active {
	background: #eff;
	}
p.samplemessage {
	margin-left: 20px;
	width: 400px;
	font-family: Courier New, Courier, mono;
	}
#choosetemplate .template-name a {
	font-size: 12px;
	}
#choosetemplate td.select {
	background: #dfb;
	text-align: center;
	width: 30px;
	border-right: 1px solid #c8f6b6;
	}
#choosetemplate td.preview {
	width: 200px;
	}
#choosetemplate td.template-name {
	font-size: 18px;
	}
#choosetemplate tr.active td.preview,
#choosetemplate tr.active td.template-name {
	background: #eff;
	}
#choosetemplate img {
	margin-left: 4px;
	padding: 2px;
	border: 1px solid #999;
	}
#choosetemplate .blank {
	height: 10px;
	}
#thanktemplates {
	line-height: 1.4em;
	}
#thanktemplates img {
	float: left;
	margin-right: 6px;
	padding: 2px;
	background: #fff;
	border: 1px solid #999;
	}
#thanktemplates input {
	float: left;
	display: block;
	margin: 16px 4px 0 0;
	}
#thanktemplates ul {
	float: left;
	margin: 0;
	}
#thanktemplates li {
	float: left;
	display: block;
	width: 270px;
	margin: 5px 10px 5px 0;
	}

/* People Styles
----------------------------------------------- */
.people-table {
	margin: 0 0 20px;
	padding: 0;
	width: 620px;
	background: #fff;
	border-top: 1px solid #ddd;
	}
.people-table tr {
	margin: 0;
	padding: 0;
	}
.people-table td {
	padding: 2px 0;
	font-size: 11px;
	border-top: 1px solid #efefef;
	border-right: 1px solid #efefef;
	}
#col1 .people-table div.vcard {
	margin: 0;
	padding: 0;
	font-size: 11px;
	}
td.company {
	width: 190px;
	}
td.company .vendor {
	margin: 0;
	padding: 0;
	text-align: left;
	border-bottom: 0;
	}
.people-table .client h3 {
	margin: 0;
	font-size: 14px;
	}
.people-table .vendor .logo {
	display: none;
}
.people-table td.edit-company {
	padding-left: 4px;
	width: 186px;
	font-size: 11px;
	}
.people-table td.edit-company .imported {
	color: #1d7400;
	font-style: italic;
}
.people-table td.person {
	margin: 0;
	padding: 0;
	}
.people-table .person .adr,
.people-table .person .street-address,
.people-table .person .extended-address,
.people-table .person .locality,
.people-table .person .region,
.people-table .person .postal-code,
.people-table .person .country-name {
	display: none;
	}
#col1 td.person div.vcard {
	margin: 0;
	padding: 0 4px;
	font-size: 11px;
	background: #f6f6f6;
	}
.people-table td.person .vcard div {
	margin: 0;
	font-size: 11px;
	}
td.person h4 {
	margin: 0 -4px 2px;
	padding: 3px 4px 0;
	font-size: 11px;
	background: #fff;
	}
.person-actions {
	margin: 0;
	padding: 0 4px;
	padding-top: 2px;
	background: #f6f6f6;
	border-top: 1px dotted #ddd;
	}

/* Admin Styles
----------------------------------------------- */


/* Footer Styles
----------------------------------------------- */
#footer1 {
	margin: 0;
	padding: 0 20px;
	line-height: 30px;
	font-size: 11px;
	color: #bef;
	background: #268;
	border-top: 1px solid #146;
	}
#footer1 a:link,
#footer1 a:visited {
	color: #fff;
	}

/* Client View Styles
----------------------------------------------- */
body.client_view {
  	background: #efefef none;
	}
body.client_view #preface1 {
	margin: 20px auto 0;
	padding: 9px;
	width: 900px;
	font-size: 18px;
	line-height: 1.6em;
  	background: #ddd;
  	border: 1px solid #ccc;
	}
body.client_view #preface2 {
	margin: 0;
	padding: 10px;
	width: 880px;
  	background: #fff;
	}
body.client_view #wrapper {
	margin: 20px auto 20px;
	border-bottom: 2px solid #ccc;
	}
body.client_view #workspace1 {
	background: #fff;
	}
body.client_view #workspace2 {
	background: none;
	}
body.client_view .line-items th {
	background: #ddd;
	}
body.client_view .line-items th.first { background: #ddd none; }
body.client_view .line-items th.last { background: #ddd none; }
body.client_view .secondary { border-top: 1px solid #ccc; }
body.client_view .secondary li { border-bottom: 1px solid #ccc; }
body.client_view .secondary li a:hover { background: #efefef; }

.client-invoices h3 {
	margin: 0 0 .25em;
	padding: 0 20px;
	color: #333;
	}
body.client_view .invoice-calculations .invoice-total td { color: #333; }
body.client_view .drop-form {
	background: #efefef none;
	border-bottom: 1px solid #ddd;
	}
body.client_view .drop-form h3 {
	color: #fff;
	background: #333 none;
	}
body.client_view .form-details  {
	background: #ccc;
	border: 1px solid #bbb;
	}
.blinksale-add {
	margin: 10px 0;
	padding: 3px 6px;
	width: 596px;
	font-size: 11px;
	line-height: 20px;
	background: #ccc;
	border: 1px solid #bbb;
	}
.blinksale-add th {
	margin: 0;
	padding: 1px 0;
	width: 146px;
	text-align: left;
	font-weight: normal;
	}
.blinksale-add .blinksaleID th {
	font-weight: bold;
	}
.blinksale-add .blinksaleID input {
	font-weight: bold;
	}
.blinksale-add td {
	margin: 0;
	padding: 3px 0;
	}
.blinksale-add input {
	margin: 0;
	padding: 0;
	width: 220px;
	}


/* Login Styles
----------------------------------------------- */
.signin #login {
	margin: 0;
	padding: 20px;
	background: #fff;
	}
.form-login {
	margin: 0;
	padding: 0;
	font-size: 14px;
	}
.form-login dl {
	overflow: hidden;
	margin: 0;
	padding: 10px 12px;
	background: #dfb;
	border: 1px solid #c8f6b6;
	}
.form-login dt {
	margin: 0;
	padding: 2px 0;
	color: #268;
	}
.form-login dd {
	margin: 0;
	padding: 0 0 8px;
	}
.form-login .username input,
.form-login .password input {
	margin: 0;
	padding: 2px 4px;
	font-size: 18px;
	line-height: 24px;
	width: 398px;
	background: #fff;
	border: 1px solid #c8f6b6;
	border-bottom: 2px solid #c8f6b6;
	}
.form-login .login {
	line-height: 24px;
	border: 0;
	}
.signin #navigation1 {
	margin: 0;
	padding: 0;
	width: 480px;
	background: #29c;
	}
.signin #navigation2 {
	margin: 0;
	padding: 0;
	height: 100px;
	width: 480px;
	}
.signin #footer1 {
	background: #268;
	}
.signin #wrapper {
	margin: 40px auto;
	width: 480px;
	}


/* Styles added by sco
----------------------------------------------- */

.formError {
	color: #f00;
	font-weight: bold;
	display: inline;
}

.fieldWithErrors {
	display: inline;
}

div.openids {
	padding: 14px;
}

div.openids ul {
	margin-bottom: 10px;
	margin-top: 0;
}

div.openids li {
	list-style-type: square;
	margin-left: 15px;
}

input#openid_url {
  background: url('/images/openid.png') no-repeat #fff 3px 2px;
  padding: 2px 0px 2px 22px;
	width: 390px;
}

ul#activity li {
	margin-bottom: 3px;
}

ul#activity span {
	color: #999;
	text-transform: uppercase;
	font-size: 9px;
}

/* don't show client logos on the /clients page */
body.people div.vcard div.logo {
	display: none;
}

a.openid_switch {
	text-align: right;
	color: #777;
	font-size: 11px;
	text-decoration: underline;
	margin-top: 3px;
	margin-bottom: 10px;
	display: block;
	outline: none;
}
