.haltrinvoice {
  font-size: 14px;
}
.haltrinvoice ul {
	margin: 0;
	padding: 0;
	list-style: none;
	}
.haltrinvoice ul .haltrinvoice li {
	margin: 0;
	padding: 0;
	list-style: none;
	}
.haltrinvoice ol {
	margin: 0;
	padding: 0 0 0 20px;
	}
.haltrinvoice ol .haltrinvoice li {
	margin: 0;
	padding: 0;
	}
.haltrinvoice h2 {
	margin: 0 0 .75em;
	font-size: 18px;
    border-bottom: none;
	}
.haltrinvoice h3 {
	margin: 0 0 .75em;
	font-size: 14px;
    border-bottom: none;
	}
.haltrinvoice h4{
	margin: 0;
	}
.haltrinvoice p {
	margin: 0 0 .75em;
	}
.haltrinvoice input, .haltrinvoice select, .haltrinvoice textarea {
	margin: 0;
	}
.haltrinvoice acronym {
	font-style: normal;
	border-bottom: 1px dotted;
	cursor: help;
	}
.haltrinvoice address {
	font-style: normal;
	}

.haltrinvoice a:link {
	text-decoration: none;
	}
.haltrinvoice a:visited {
	text-decoration: none;
	}
.haltrinvoice a:hover {
	text-decoration: underline;
	}
.haltrinvoice a:link img,
.haltrinvoice a:visited img,
.haltrinvoice a:hover img {
	border: 0;
	background: none;
	}

#counter {
	margin: 0;
	padding: 6px 0;
	text-align: center;
	border-bottom: 1px solid;
	}
#counter strong {
	}
#workspace1 {
	margin: 0;
	padding: 50px;
    border: 1px solid;
    margin-left:auto;
    margin-right:auto;
	}
.received {
    background: #FFF7F6 !important;
}
#workspace2 {
	overflow: hidden;
	margin: 0;
	padding: 0;
	}
#col2 {
	float: right;
	margin: 0;
	padding: 0;
	width: 260px;
	}
#col2 h2 {
	margin: 0 0 10px;
	}
.clear {
	clear: both;
	margin: 0;
	padding: 0;
	height: 0;
	line-height: 0;
	}
.pagehelp {
	margin: 0 0 20px;
	padding: -1px 10px 20px;
	}

.new {
	margin: 0;
	padding: 10px 20px 16px;
	font-size: 18px;
	border-bottom: 1px solid #146;
	}
.new a:link,
.new a:visited {
	margin: 0;
	padding: 0;
	color: #fff;
	background: #145c7b;
	}
.new img {
	cursor: pointer;
}
#col2 .status {
	margin: 0;
	padding: 20px;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: -.05em;
	}
#col2 .status img {
	font-weight: normal;
	font-style: normal;
	}
#col2 .draft { background: #859; }
#col2 .open { background: #5bc; }
#col2 .unpaid { background: #5bc; }
#col2 .pastdue { background: #f40; }
#col2 .closed { background: #1a8; }
#col2 .paid { background: #1a8; }
#col2 .recurring { background: #145c7b; padding-top: 10px; }

#col2 .client {
	margin: 0 0 10px;
	padding: 20px 20px 16px;
	font-size: 12px;
	line-height: 1.5em;
	background: #c8f6b6;
	border-bottom: 1px solid #bea;
	}
#col2 .client h3 {
	margin: 0 0 .25em;
	font-size: 18px;
	}
.vcard {
	margin: 0 0 30px;
	line-height: 1.5em;
	font-size: 12px;
	}
.vcard h3 {
	margin: 0;
	}
.invoice-show .firm {
	display: none;
	}
.invoice {
	clear: both;
	margin: 0 0 20px;
	}
.invoice h4 {
	margin: 0 12px 4px;
	color: #1a8;
	font-size: 14px;
	}
.invoice-info {
	float:right;
	margin: 0 0 10px;
	text-align:right;
	}
.invoice-edit .invoice-info,
.recurring-edit .invoice-info {
	float: none;
	margin: 0 0 10px;
	padding: 6px 0;
	width: 620px;
	text-align: left;
	line-height: 20px;
	background: #ddf6ff;
	border: 1px solid #bef;	
	}
.invoice-info th {
	margin: 0;
	padding: 2px 0 2px 11px;
	width: 114px;
	text-align: left;
	font-weight: normal;
	}
.invoice-info th.date {
	font-weight: bold;
	}
.invoice-info td {
	margin: 0;
	padding: 2px 11px 2px 0;
	}
.invoice-info select,
.invoice-info input {
	border: 1px solid #bef;
	border-bottom: 2px solid #bef;
	height: 18px;
	}
.line-items {
	margin: 0 0 10px;
	padding: 0;
	width: 100%;
	}
.line-items tr {
	margin: 0;
	padding: 0;
	text-align: left;
	}
.line-items th {
	margin: 0;
	padding: 0 4px;
	line-height: 24px;
    background-color: #DEEEFE;
    color: #3B6BBF;
	}
.line-items th.first { padding-left:12px; }
.line-items th.last { padding-right:12px; }
.line-items td {
	margin: 0;
	padding: 5px 4px 3px;
	vertical-align: top;
	line-height: 18px;
	border-bottom: 1px solid #ddd;
	}
.line-items td.first { padding-left:12px; }
.line-items td.last { padding-right:12px; }
.line-items .item-delete { width: 14px; }
.line-items .item-delete img { padding-top: 3px; }
.line-items .item-kind { width: 85px; }
.line-items .item-kind select { width: 75px; margin: 0; padding: 0; }
.line-items .item-quantity { width: 45px; }
.line-items .item-quantity input { width: 35px; height: 18px; }
.invoice-show .line-items .item-quantity { width: 95px; }
.line-items .item-description textarea { width: 255px; height: 18px; }
.line-items .item-tax { text-align: right; width: 20px; }
.line-items .item-tax input { margin-top: 2px; }
.line-items .item-price { text-align: right; width: 75px; }
.line-items .item-price input { text-align: right; width: 65px; height: 18px; }
.line-items .line-total {
	text-align: right;
	width: 90px;
	}
.line-items select,
.line-items input,
.line-items textarea {
	padding: 0 2px;
	background:#f6f6f6;
	border:1px solid #ccc;
	}
.show .item-date { width: 70px; }
lpayments .item-date { width: 116px; }
.newline {
	margin: -6px 12px 10px;
	padding: 0;
	text-align: right;
	}
.invoice-calculations {
	margin: 0 0 20px;
	padding: 4px 0 0;
	width: 100%;
	}
.invoice-calculations th {
	padding-left: 382px;
	text-align: left;
	line-height: 20px;
	}
.invoice-calculations td {
	padding-right: 12px;
	text-align: right;
	line-height: 20px;
	}
.invoice-calculations .sales-tax th,
.invoice-calculations .freight th,
.invoice-calculations .paid th,
.invoice-calculations .late-fee th {
	font-weight: normal;
	}
.invoice-calculations .invoice-total th,
.invoice-calculations .invoice-total td {
	}
.invoice-calculations .invoice-total td {
	font-weight: bold;
    background-color: #DEEEFE;
    color: #3B6BBF;
	}
.invoice-details {
	margin: 20px 0;
	padding: 0 20px;
	}
.invoice-details h3 {
	margin: 0;
	color: #1a8;
	}
.invoice-details h4 {
	margin: .5em 0 -.25em;
	}
.invoice-details div {
	margin: 0 0 10px;
	line-height: 18px;
	}
.invoice-details div div {
	margin: 0;
	}
.invoice-details .custom {
	margin: 4px -3px 10px;
	padding: 2px;
	background: #c8f6b6;
	border: 1px solid #bea;
	}
.invoice-details select,
.invoice-details input {
	border: 1px solid #bea;
	border-bottom: 2px solid #bea;
	}
.invoice-notes {
	margin: 0 0 10px;
	padding: 9px;
	width: 600px;
	background: #fff;
	border: 1px solid #bef;	
	}
.invoice-notes h3 {
	margin: 0 0 .25em;
	}
.invoice-notes span {
	font-weight: normal;
	}
.invoice-notes textarea {
	margin: 0;
	padding: 0;
	width: 360px;
	border: 1px solid #ddd;
	border-bottom: 2px solid #ddd;
	}
.invoice-tags {
	margin: 0 0 20px;
	padding: 0 20px;
	}
.invoice-tags h3 {
	margin: 0;
	color: #1a8;
	}
.invoice-tags ul {
	margin: 0 0 10px;
	}
.invoice-tags li {
	margin: 0;
	padding: 0 0 0 14px;
	line-height: 18px;
	background: url(../images/icons/icon-tag_10.gif) left center no-repeat;
	}
.invoice-tags .custom {
	margin: 0 -3px;
	padding: 2px;
	background: #c8f6b6;
	border: 1px solid #bea;
	}
.invoice-tags .instructions {
	margin: 0 0 10px;
	line-height: 1.6em;
	}
.invoice-tags .tags-all li {
	display: inline;
	margin: 0;
	padding: 0;
	line-height: 1.6em;
	background:none;
	}
.invoice-tags .tags-all li.active a:link { color: #8dc; }
.client-list {
	margin: 0 0 10px;
	padding: 0;
	width: 620px;
	}
.client-list tr {
	margin: 0;
	padding: 0;
	text-align: left;
	}
.client-list th {
	margin: 0;
	padding: 0 4px;
	line-height: 24px;
	background: #dfb;
	}
.client-list th.first { padding-left:12px;background: #dfb; }
.client-list th.last { padding-right:12px;background: #dfb; }
.client-list td {
	margin: 0;
	padding: 4px 4px 3px;
	vertical-align: top;
	line-height: 20px;
	border-bottom: 1px solid #ddd;
	}
.client-list .recurring-client td {
	border-bottom: 1px dotted #ddd;
	}
.client-list .recurring-schedule td {
	background: #f6f6f6;
	}
.client-list td.first { padding-left:12px; }
.client-list td.last { padding-right:12px; }
.client-list .client-delete { width: 14px; }
.client-list .client-delete img { padding-top: 2px; }
.client-list .client-name {
	width: 160px;
	}
.client-list .client-people li {
	display: inline;
	margin-right: 8px;
	}
.vendor {
	overflow: hidden;
	margin: 0 0 20px;
	padding: 0 0 10px;
	text-align: right;
	border-bottom: 2px solid #ddd;
	}
.vendor .invoicelogo {
	float: left;
	}
.vendor.box .invoicelogo {
	display:none;
	}
.invoice-show .vendor {
	display: none;
	}

body.client_view {
  	background: #efefef none;
	}
body.client_view #preface1 {
	margin: 20px auto 0;
	padding: 9px;
	width: 900px;
	font-size: 18px;
	line-height: 1.6em;
  	background: #ddd;
  	border: 1px solid #ccc;
	}
body.client_view #preface2 {
	margin: 0;
	padding: 10px;
	width: 880px;
  	background: #fff;
	}
body.client_view #invoice_wrapper {
	margin: 20px auto 20px;
	border-bottom: 2px solid #ccc;
	}
body.client_view #workspace1 {
	background: #fff;
	}
body.client_view #workspace2 {
	background: none;
	}
body.client_view .line-items th {
	background: #ddd;
	}
body.client_view .line-items th.first { background: #ddd none; }
body.client_view .line-items th.last { background: #ddd none; }
body.client_view .secondary { border-top: 1px solid #ccc; }
body.client_view .secondary li { border-bottom: 1px solid #ccc; }
body.client_view .secondary li a:hover { background: #efefef; }

.client-invoices h3 {
	margin: 0 0 .25em;
	padding: 0 20px;
	color: #333;
	}
body.client_view .invoice-calculations .invoice-total td { color: #333; }
body.client_view .drop-form {
	background: #efefef none;
	border-bottom: 1px solid #ddd;
	}
body.client_view .drop-form h3 {
	color: #fff;
	background: #333 none;
	}
body.client_view .form-details  {
	background: #ccc;
	border: 1px solid #bbb;
	}
.blinksale-add {
	margin: 10px 0;
	padding: 3px 6px;
	width: 596px;
	line-height: 20px;
	background: #ccc;
	border: 1px solid #bbb;
	}
.blinksale-add th {
	margin: 0;
	padding: 1px 0;
	width: 146px;
	text-align: left;
	font-weight: normal;
	}
.blinksale-add .blinksaleID th {
	font-weight: bold;
	}
.blinksale-add .blinksaleID input {
	font-weight: bold;
	}
.blinksale-add td {
	margin: 0;
	padding: 3px 0;
	}
.blinksale-add input {
	margin: 0;
	padding: 0;
	width: 220px;
	}

.pastdue {
  color: red;
}
