<!--menu secundari-->
<div class="seccio grup">
  <div class="col span-2-de-2">
    <ul class="menu-secundari">
      <li>
      <%= link_to l(:label_payment_new), {:controller => 'payments', :action => 'new', :id => @project} %>
      </li>
      <li><%= link_to l(:label_task_plural), {:controller => 'tasks', :action => 'index', :id => @project} %></li>
    </ul>
  </div>
</div>
<!--final menu secundari-->
