<h2><%= l(:label_import_aeb43) %></h2>

<pre>
<% @moviments.each do |m| %>
<%= m %>
<% end %>
</pre>

<%= @errors %>

<% content_for :sidebar do %>
  <%= render_menu :payments_menu, @project %>
<% end %>
