<h2><%= l(:label_payment_new) %></h2>


<% labelled_tabular_form_for :payment, @payment, :url => { :action => 'create', :id => @project } do |f| %>
<%= render :partial => 'form', :locals => { :f => f } %>
<%= submit_tag l(:button_create) %>
<% end %>
