<div class="formee">
  <% if @charge_bank_on_due_date.size == 0 -%>
    <p class="nodata"><%= l(:label_no_data) %></p>
  <% else -%>
    <% @charge_bank_on_due_date.each do |bank_info, invoices| -%>
      <fieldset class="tabular box">
        <legend><%=bank_info.name%></legend>
        <ul class="n19list">
          <%= render :partial => 'n19', :locals => { :invoices => invoices } %>
        </ul>
      </fieldset>
    <% end -%>
  <% end -%>
</div>

<% content_for :sidebar do %>
  <%= render_menu :payments_menu, @project %>
<% end %>
