<!--paginacio-->
<div class="wrapper-pagination-results">
  <div class="row">
    <div class="col-xs-5 col-xs-offset-3 text-center">
      <div class="pagination">
        <%= pagination_links_full(pages, count, per_page_links: false) %>
      </div>
    </div>
    <div class="col-xs-4 text-right">
      <form class="form-inline">
        <label for="sel-results"><%= l :button_show %></label>
        <%= select_tag('sel-results', options_for_select(Setting.per_page_options_array, selected: params[:per_page]), class: 'form-control') %>
      </form>
    </div>
  </div>
</div>
<!--final paginacio-->
