<p><label><%=l(:trace_url)%></label><%= text_field_tag 'settings[trace_url]', @settings['trace_url'] %></p>
<p><label><%=l(:export_channels_path)%></label><%= text_field_tag 'settings[export_channels_path]', @settings['export_channels_path'] || '/tmp' %></p>
