<% content_for :header_tags do -%>
  <%= stylesheet_link_tag "haltr", :plugin => "haltr"%>
  <%= javascript_include_tag "haltr", :plugin => "haltr"%>
  <%= javascript_include_tag "qTip", :plugin => "haltr"%>
  <%= stylesheet_link_tag "qTip", :plugin => "haltr"%>
<% end -%>
<%= render(:file => '/layouts/base') %>
