<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <title><%= l(:label_invoice) %> | <%= @project.company.name %></title>
    <%= wicked_pdf_stylesheet_link_tag "../plugin_assets/haltr/stylesheets/print" -%>
  </head>
  <body class="client_view">
    <%= yield %>
  </body>
</html>
