<label for="invoice_currency"><%= l(:field_currency) %><span class="required"> *</span></label>
<%= select :invoice, :currency, currency_options_for_select, {:selected=>selected}, :required => true%>
